html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #212121;
    color: #f2eadc;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: larger;
    line-height: 1.6;
}
.actual-content {
    margin: 5vh auto;
    max-width: 75vw;
}
a {
    text-decoration: none;
    color: #2195f2;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
.section-title {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul.find-me-elsewhere > li {
    display: inline;
    margin: 1vw;
    line-height: 2;
}
.projects.grid {
    margin: 3vh;
    display: grid; /* Figure out how to do grid please */
}